@import '../core/_variables.scss';
@import '../core/_reset.scss';

.container {
  padding-top: 21px;
  padding-bottom: 10px;
}
.palette-1 {
  .tittlescontainer {
    border-left: solid 5px $color-palette1-medium;
  }

  .photocard__title {
    color: $color-palette1-dark;
  }
  .photocard__title2 {
    color: $color-palette1-dark;
  }
  .photocard__list--item {
    border: solid 2px $color-palette1-medium;
  }
  .photocard__list--link {
    color: $color-palette1-dark;
  }
}
.palette-2 {
  .tittlescontainer {
    border-left: solid 5px $color-palette2-medium;
  }

  .photocard__title {
    color: $color-palette2-dark;
  }
  .photocard__title2 {
    color: $color-palette2-dark;
  }

  .photocard__list--link {
    color: $color-palette2-dark;
  }
  .photocard__list--item {
    border: solid 2px $color-palette2-medium;
  }
}
.palette-3 {
  .tittlescontainer {
    border-left: solid 5px $color-palette3-medium;
  }
  .photocard__title {
    color: $color-palette3-dark;
  }
  .photocard__title2 {
    color: $color-palette3-dark;
  }

  .photocard__list--item {
    border: solid 2px $color-palette3-medium;
  }
  .photocard__list--link {
    color: $color-palette3-dark;
  }
}
.palette-4 {
  .tittlescontainer {
    border-left: solid 5px $color-palette4-medium;
  }
  .photocard__title {
    color: $color-palette4-dark;
  }

  .photocard__title2 {
    color: $color-palette4-dark;
  }
  .photocard__list--item {
    border: solid 2px $color-palette4-medium;
  }
  .photocard__list--link {
    color: $color-palette4-dark;
  }
}

.photocard {
  align-items: center;
  background-color: $color-background-landing;
  width: 240px;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 $color-shadow1, 0 1px 3px $color-shadow2;

  &__title {
    padding: 0 14px 0 15px;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1.11;
    font-weight: bold;
    font-family: $font-cards;
  }

  &__title2 {
    font-family: $font-cards;
    font-size: 16px;
    line-height: 1.25;
    padding: 0 52px 0 15px;
  }
  &__img {
    width: 240px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-image: url('../../images/photo-preview2.jpg');
    background-repeat: no-repeat;
  }
  &__list {
    :hover {
      transform: scale(1.1);
    }
    display: flex;
    padding: 10px 62px 12px 20px;
    &--item {
      width: 32px;
      height: 32px;
      margin: 0 10px 0 0;
      border: solid 2px $color-palette1-light;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &--link {
      text-decoration: none;
    }
  }
}
